
<div class="grid">
  <div class="col-12">
    <form [formGroup]="category">
      <p-dropdown
        formControlName="idCategory"
        [options]="categories"
        optionLabel="name"
        [style]="{ minWidth: '14rem' }"
        placeholder="Select a category"
        (ngModelChange)="selectCategory($event)"
      ></p-dropdown>
      <p-dropdown
        formControlName="idProduct"
        [options]="prodcuts"
        optionLabel="title"
        [style]="{ minWidth: '14rem' }"
        placeholder="Select a product"
        (ngModelChange)="selectProduct($event)"
      ></p-dropdown>
    </form>
  </div>
</div>
<div class="grid grid-nogutter">
  <div class="col-4">
      <div><pre>{{ categories | json }}</pre></div>
  </div>
  <div class="col-4">
      <div><pre>{{ prodcuts | json }}</pre></div>
  </div>
  <div class="col-4">
      <div><pre>{{ product | json }}</pre></div>
  </div>
</div>
